In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from interpret.glassbox import ExplainableBoostingRegressor
from interpret import show

In [33]:
df_original = pd.read_csv('../data/preprocessed.csv')

In [34]:
df_original.head()

,TYPE_WACHTTIJD,WACHTTIJD,OMS_WACHTTIJD,SPECIALISME,ROAZ_REGIO,NAAM_INSTELLING,TYPE_ZORGINSTELLING
0,Behandeling,90.0,Tonsillectomie en/of adenotomie (kno),KNO (302),Noord-NL,Wilhelmina Ziekenhuis,Ziekenhuis
1,Polikliniekbezoek,21.0,Orthopedie - Heupklachten,Orthopedie (305),Oost,Stichting Rijnstate Ziekenhuis,Ziekenhuis
2,Behandeling,166.0,Initiële staaroperatie (oogheelkunde),Oogheelkunde (301),SpzNet AMC,Stichting Dijklander Ziekenhuis,Ziekenhuis
3,Behandeling,14.0,Triggerfingerrelease (plastische chirurgie),Plastische Chirurgie (304),Brabant,Xpert Clinics Hand- en polszorg B.V.,Kliniek
4,Polikliniekbezoek,28.0,Chirurgie (heelkunde) - Proctologie,Chirurgie (heelkunde) (303),Noord-NL,Ziekenhuis Nij Smellinghe,Ziekenhuis

In [36]:
df_train, df_test = train_test_split(df_original, test_size=0.2, stratify=df_original[['OMS_WACHTTIJD','TYPE_ZORGINSTELLING', 'SPECIALISME', 'TYPE_WACHTTIJD']])

In [37]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160222 entries, 27881 to 33267
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TYPE_WACHTTIJD       160222 non-null  object
 1   WACHTTIJD            160222 non-null  float64
 2   OMS_WACHTTIJD        160222 non-null  object
 3   SPECIALISME          160222 non-null  object
 4   ROAZ_REGIO           160222 non-null  object
 5   NAAM_INSTELLING      160222 non-null  object
 6   TYPE_ZORGINSTELLING  160222 non-null  object
dtypes: float64(1), object(6)
memory usage: 9.8+ MB

In [38]:
df_train_output = df_train[['WACHTTIJD']]
df_train_inputs = df_train.drop(['WACHTTIJD','NAAM_INSTELLING'], axis=1)

df_test_output = df_test[['WACHTTIJD']]
df_test_inputs = df_test.drop(['WACHTTIJD','NAAM_INSTELLING'], axis=1)

In [39]:
df_train_inputs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160222 entries, 27881 to 33267
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   TYPE_WACHTTIJD       160222 non-null  object
 1   OMS_WACHTTIJD        160222 non-null  object
 2   SPECIALISME          160222 non-null  object
 3   ROAZ_REGIO           160222 non-null  object
 4   TYPE_ZORGINSTELLING  160222 non-null  object
dtypes: object(5)
memory usage: 7.3+ MB

In [40]:
model = ExplainableBoostingRegressor(feature_names=df_train_inputs.columns)

In [41]:
model.fit(df_train_inputs.to_numpy(), df_train_output.to_numpy())

ExplainableBoostingRegressor(feature_names=['TYPE_WACHTTIJD', 'OMS_WACHTTIJD',
                                            'SPECIALISME', 'ROAZ_REGIO',
                                            'TYPE_ZORGINSTELLING',
                                            'TYPE_WACHTTIJD x ROAZ_REGIO',
                                            'TYPE_WACHTTIJD x '
                                            'TYPE_ZORGINSTELLING',
                                            'OMS_WACHTTIJD x ROAZ_REGIO',
                                            'ROAZ_REGIO x TYPE_ZORGINSTELLING',
                                            'SPECIALISME x ROAZ_REGIO',
                                            'OMS_WACHTTIJD x SPECIALISME',
                                            'SPECIALISME x TYPE_ZORGINSTELLING',
                                            'OMS_WACHTTIJD x '
                                            'TYPE_ZORGINSTELLING',
                                            'TYPE_WACHTTIJD x OMS_WACHTTIJD',
                                            'TYPE_WACHTTIJD x SPECIALISME'],
                             feature_types=['categorical', 'categorical',
                                            'categorical', 'categorical',
                                            'categorical', 'interaction',
                                            'interaction', 'interaction',
                                            'interaction', 'interaction',
                                            'interaction', 'interaction',
                                            'interaction', 'interaction',
                                            'interaction'])

In [42]:
model.score(df_test_inputs.to_numpy(), df_test_output.to_numpy())

0.3554438940831097

In [43]:
ebm_global = model.explain_global()
show(ebm_global)